@import '../../sass/button.scss';

.image-input {
    font-size: 1.5rem;
    z-index: 1;

    &__input {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__droparea {
        --border-width: 2px;
        
        margin-top: 1rem;
        padding: 2rem 1rem;
        border-radius: 0.3rem;
        min-width: 20rem;
        
        text-align: center;
        position: relative;
        z-index: 0;
        overflow: hidden;

        // transition: 1s outline-color;
        // outline-width: 0;
        
        svg {
            height: 3rem;
            width: auto;
            fill: var(--text-color);
        }

        &::before {
            content: '';
            position: absolute;

            left: 50%;
		    top: 50%;
            transform: translate(-50%, -50%);
            transform-origin: left top;

            width: 200%;
            aspect-ratio: 1;
            z-index: -2;

            animation-name: rotate;
            animation-duration: 3s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;

            background-image: conic-gradient(transparent 270deg, grey, transparent);
        }

        &_dragover {
            &::before {
                content: none;
            }

            &_valid {
                &::after {
                    outline: calc(5px) solid hsl(161, 50%, 30%);
                }
            }

            &_invalid {
                &::after {
                    outline: calc(5px) solid hsl(0, 50%, 30%);
                }
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: var(--border-width);
            left: var(--border-width);
            border-radius: inherit;
            background-color: #1a1a1a;
            width: calc(100% - var(--border-width) * 2);
            height: calc(100% - var(--border-width) * 2);
            z-index: -1;
        }
    }

    @keyframes rotate {
        0% {
            rotate: 0turn;
        }

        100% {
            rotate: 1turn;
        }
    }

    &__image-name {
        text-align: center;
        flex-grow: 1;
        background-color: #1a1a1a;
        height: 3.25rem;
        padding: 0.4rem 0.6rem;
        border-radius: 0.3rem;

        display: flex;
        align-items: center;

        span {
            color: hsl(213, 42%, 50%);
        }
    }

    input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;

        &:hover, &:focus-visible {
            &+label {
                background-color: hsl(213, 42%, 27.5%);
            }
        }

        &:focus-visible {
            &+label {
                outline: 0.1em solid var(--text-color);
            }
        }

        &:active {
            &+label {
                background-color: hsl(213, 42%, 25%);
            }
        }
    }

    label {
        @extend .button;

        background-color: hsl(213, 42%, 30%);
        padding: 0.4em 0.6em 0.4em 0.5em;
        height: 3.25rem;
        flex-shrink: 0;
    }
}